<h1>Sign Up Below:</h1>

<form action='/registrations' method='post'>
    <li>Name:<input type="text" name="name"></li>
    <li>Email:<input type="text" name="email"></li>
    <li>Password:<input type="text" name="password"></li>
    <input type="submit" value="Sign Up">
</form>

